body{
	margin: 0;
	padding: 0;
	color: #000;
}
ul{
	margin: 0;
	padding: 0;
	list-style:none;
}
img{
	max-width:100%;
	height: auto;
}
*{
	box-sizing: border-box;
}
.logo{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	>a{
		color: #000;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
	}
}
.btn{
	display: inline-block;
	padding: 10px 40px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	text-transform: uppercase;
	user-select: none;
	background-image: none;
	border-radius: 4px;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	&:hover{
		background: darken(#5cb85c,10%);
	}
}
.container{
	width: 90%;
	margin: 0 auto;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav{
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		a{
			text-decoration: none;
			display: inline-block;
			padding: 20px;
		}
		&:hover{
			>a{
				text-decoration: underline;
			}
		}
	}
}
.main{
	margin-top: 40px;
}
.product{
	&-image{
		width: 30%;
		float: left;
		padding-right: 20px;
	}
	&-name{
		margin-top: 0;
		font-size: 40px;
		font-weight: bold;
	}
	&-price{
		font-size: 35px;
		font-weight: 600;
	}
	&-body{
		font-size: 18px;
	}
	&-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -20px;
		.product{
			&-body{
				padding: 0 10px 20px 10px;
			}
			&-name{
				padding: 20px 0;
				font-size: 35px;
				line-height: 1;
				font-weight: bold;
			}
			&-link{
				margin: 0 auto;
				display: inline-block;
				text-decoration: none;
			}
			&-subtitle{
				margin-bottom: 20px;
			}
			&-price{
				margin-bottom: 20px;
				font-size: 30px;
				font-weight: bold;
			}
			&-img{
				border-bottom:2px solid #ccc;
			}
		}
		li{
			padding: 0 20px;
			margin-bottom: 40px;
			text-align: center;
			width: 25%;
			display: inline-block;

			justify-content:space-between;
		}
		&-item{
			border-radius:5px;
			border:2px solid #ccc;
		}
	}
}
.table-product{
	width: 100%;
	border-collapse:collapse;
	.image{
		margin: 0 auto;
		width: 150px;
		height: 150px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		display: block;
	}
	tr{
		td,th{
			text-align: left;
			padding: 10px;
			border:1px solid #ccc;
			width: 20%;
			font-size: 18px;
			>a{
				display: block;
			}
		}
	}
}
